<!doctype html>
<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
<script type="text/javascript" src="profile-analyser.js"></script>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div ng-controller="GithubCtrl" class="container">
    <h1>Profile analyser</h1>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="profile">Profile</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input ng-model="searchedProfile" id="profile" type="text" placeholder="Enter a git hub profile to analyser" class="form-control"/>
                    <span class="input-group-btn">
                        <button ng-click="search()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div ng-if="waitLoading" class="alert alert-info">
        Loading. Please wait...
    </div>
    <div ng-if="profile && repos && repos.length">
        <div class="alert alert-success">{{profile}}'s preferred language is <strong>{{preferredLanguage}}</strong></div>
        <ul ng-if="repos && repos.length" class="list-group">
            <li ng-repeat="repo in repos" class="list-group-item">
                <span class="pull-right">{{repo.language}}</span>
                <strong>{{repo.name}}</strong> 
            </li>
        </ul>
    </div>
    <div ng-if="profile && (!repos || !repos.length)" class="alert alert-warning">No repo for this user, we cannot tell what is his favourite language.</div>
    <div ng-if="error" class="alert alert-danger">
       {{error}}
    </div>
</div>
</body>
</html>